html
{
    font-family: 'Roboto';
}

.nav-heading
{
    color:white;
    font-weight: 600;
    font-size: 15px;
}

.nav-title-collapse
{
    font-weight: 700;

}

.nav-title-collapse-inner
{
    font-weight: 600;
    color: black;

}